.dragme { 
  position:  absolute;
  left: 50%;
  top: 50%; 
  width: 10px; 
  height: 10px;
  background: white;
  transform: translateX(-5px) translateY(-5px);
  
  border-radius: 50%;
  cursor:pointer;
  transition: transform .3s;
  &:active, &:hover {
    transform: translateX(-5px) translateY(-5px) scale(1.5,1.5)
  }  
}

body, html { 
  margin: 0;
  height: 100%;
}
#div {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.498039), transparent 50%), radial-gradient(circle at 50% 50%, rgb(0, 0, 0), rgb(0, 0, 0) 100%);
  margin: auto;
} 
.controls {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color:white;
  background-color: rgba(255,255,255,0.2);
}
#coords{ text-align: center;}