.dragme { 
  position:  absolute;
  left: 50%;
  top: 50%; 
  width: 10px; 
  height: 10px;
  background: white;
  margin-left: -10px;
  margin-top: -10px;
  
  border-radius: 50%;
  cursor:pointer;
  transition: transform .3s;
  &:active, &:hover {
    transform: scale(1.5,1.5)
  }  
}

body { margin: 0; }
#div {
  position: relative;
  height: 300px;
  width: 300px; 
  background: 
    radial-gradient(circle at 192px 132px, #ff00ff,transparent 140px), 
    radial-gradient(circle at 56px 74px, #12f4e3,transparent 140px), 
    radial-gradient(circle at 50% 50%, #000, #000 100%)
    ;
  margin: auto;
} 

#coords{ text-align: center;}