.dragme { 
  position:  absolute;
  left: 50%;
  top: 50%; 
  width: 10px; 
  height: 10px;
  background: white;
  border:2px solid black;
  transform: translateX(-5px) translateY(-5px);
  // opacity: 0.5;
  z-index: 340;
  border-radius: 50%;
  cursor:pointer;
  transition: transform .3s;
  &:active, &:hover {
    transform: translateX(-5px) translateY(-5px) scale(1.5,1.5)
  }  
}

body, html { 
  margin: 0;
  height: 100%;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.498039), transparent 50%), radial-gradient(circle at 50% 50%, rgb(0, 0, 0), rgb(0, 0, 0) 100%);
  overflow: hidden;
}
#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 300;
  //
} 
.points {
  position: absolute;
  top: 34px;
  right: 0;
  color:white;
  font-weight: 100;
  font-size: 12px;
  td {
    transition: background-color .3s;
    background-color: rgba(255,255,255,0.2);
    padding: 4px 10px;
    border:none;
    margin: 0;
  }
  transition:transform .3s;
  transform:translateX(100%) translateX(-40px);
  /*&:hover, */#open_config:checked ~ & {
    transform: translateX(0px);
  }
  min-height: 30px;
  min-width: 400px;
  &.empty {
    right:auto;
    left: 50%;
    top: 20%;
    min-width: 260px;
    transform:translateX(-50%);
  }
}
#open_config { display: none; }
.conf-opener {
  width: 15px;
  height: 15px;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor:pointer;
  transform: rotate(0deg);
  &:hover svg {
    transition: transform 1s;
    transform: rotate(180deg);
    #open_config:checked ~ & {
      transform: rotate(-180deg);
    }
  }
  path {
    fill:#fff;
    #open_config:checked ~ & {
      fill:#7f7f7f;
    }
  }
}

.add {
  position: absolute;
  bottom: -30px;
  left: 2px;
  color:white;
  font-weight: 100;
  font-size: 12px;
}
#set_colour,#add_point {
  border:0;
  background-color: rgba(255,255,255,0.2);
  height: 30px;
  outline: none;
  margin: 0;
  float: left;
  line-height: 30px;
}
#set_colour {
  height: 28px;
  margin-left: 2px;
  padding-left: 10px;
  width: 200px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  transition: background-color .3s;
  &:focus {
    background-color: rgba(255,255,255,0.1);
    &::-webkit-input-placeholder { color: rgba(255,255,255,0.3); }
    &:-moz-placeholder { color: rgba(255,255,255,0.3);}
    &::-moz-placeholder {  color: rgba(255,255,255,0.3);}
    &:-ms-input-placeholder {   color: rgba(255,255,255,0.3); }
  }
  &::-webkit-input-placeholder { color: rgba(255,255,255,0.5); }
  &:-moz-placeholder { color: rgba(255,255,255,0.5);}
  &::-moz-placeholder {  color: rgba(255,255,255,0.5);}
  &:-ms-input-placeholder {   color: rgba(255,255,255,0.5); }
}
#add_point {
  cursor:pointer;
  display: block;
  width: 40px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 20px;
  &:hover {
    background-color: #1abc9c;
  }
}

.c_name { 
  text-transform: uppercase;
  width: 20px;
}
.c_deep-value {
  & input {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    background-color: transparent;
    text-align: center;
    border:0;
    color:white;
  }
  &:after { content:'%'}
}

.del_item, .up_item {
  border:0;
  background-color: transparent;
  color:white;
  width: 25px;
  height: 20px;
  cursor:pointer;
  svg {
    display: inline-block;
    vertical-align: middle;
  }
}
.del_item:hover path { fill: #c0392b; }
.up_item:hover path { fill: #3498db; }

#coords{ text-align: center;}
#help {
  
}

.current {
  td {
    background-color: rgba(255,255,255,0.5);
  }
}

.header {
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 100;
  a {
    text-decoration: none;
    font-weight: 300;
    color:white;
    font-variant: small-caps;
    font-size: 25px;
    margin: 0;
  }
}

.social {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border:0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 5px; 
  }
  button {
    border:0;
    display:inline-block;
    background-color: transparent;
  }
}

.other-controls {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 200px;
}
#bg-color {
  width: 20px;
  height: 20px;
  border:0;
  border:1px solid rgba(255,255,255,0.25);
  display: inline-block;
  //background-color: rgba(255,255,255,0.4)!important;
  text-indent: -9999px;
}

#points-op {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: bottom;
  li {
    width: 24px;
    height: 24px;
    margin-top: 1px;
    position: relative;
    color:inherit;
    &:after {
      content:'';
      width: 16px;
      height: 16px;
      left: 4px;
      top: 4px;
      background-color: currentColor;
      border-radius:50%;
      position: absolute;
    }
    &.op-1 { background-color: rgba(255,255,255,0.10); }
    &.op-2 { background-color: rgba(255,255,255,0.25); }
    &.op-3 { background-color: rgba(255,255,255,0.40); }
  }
}
